.list-container {
  background-color: #160f29;
  margin: 10px;
  display: grid;
  .header-container {
    border: 1px solid white;
  }
  div p {
    text-align: center;
  }
  .list-container-header {
    display: grid;
    grid-template-columns: repeat(4, 2fr) 1fr;
    p {
      align-self: center;
      justify-self: center;
    }
  }
}