.list-item {
  display: grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
  background-color: aqua;
  p {
    justify-self: center;
  }
  svg {
    justify-self: center;
    align-self: center;
  }
}